# Copy to terraform.tfvars and fill in your values
# cp terraform.tfvars.example terraform.tfvars

environment                  = "workload-dev"
aws_region                   = "us-east-2"
workload_account_id          = "123456789012"
workload_bootstrap_role_name = "OrganizationAccountAccessRole"
cloudtrail_log_bucket_name   = ""
config_snapshot_bucket_name  = ""
alert_email                  = "REPLACE_ME@example.com"
